:root {
  --btn-back: #ad7be9;
  --btn-back2: #bfdce5;
  --back-border: #eeeeee;
  --back-nav: #f9f9f9;
  --section: #9ba4b4;
  --main: #14274e;

  --btn-back-hov: #cfcfcf;
}

* {
  font-family: 'Poppins';
  font-size: 18px;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 7fr 60px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
}

h1 {
  font-size: 34px;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
  border-top: 1px solid var(--back-border);
  font-size: 14px;
}

a {
  color: #555555;
  margin-left: 5px;
  font-size: 14px;
}

/* Navigation */
.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.nav {
  border-right: 1px solid var(--back-border);
  background-color: var(--back-nav);
  padding: 50px 40px;
}

.folder {
  border-radius: 5px;
  padding: 6px 10px;
}

.folder:hover {
  cursor: pointer;
  background-color: var(--back-border);
}

.folder::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-size: cover;
}

#all::before {
  background-image: url(inbox.png);
}

#today::before {
  background-image: url(today.png);
}

#finished::before {
  background-image: url(checked1.png);
}

#starred::before {
  background-image: url(starred.png);
}

.folders {
  height: 30%;
  border-bottom: 1px solid var(--back-border);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
}

.projectsTitle {
  font-size: 16px;
  color: var(--section);
  margin-top: 10px;
}

.projects {
  margin-top: 15px;
  overflow: auto;
  /* height: 250px; */
}

.project {
  padding: 6px 10px;
  margin-top: 4px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.project::before {
  background-image: url(folder.png);
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-size: cover;
  /* align-self: center; */
}

.project:hover {
  border-radius: 5px;
  background-color: var(--back-border);
  cursor: pointer;
}

.imgMore,
.star {
  width: 30px;
  height: 30px;
}

#add-project {
  margin-top: 20px;
  width: 140px;
  border-radius: 5px;
  background-color: var(--btn-back);
  color: white;
  cursor: pointer;
  padding: 6px 4px;
  display: flex;
  justify-content: center;
}

/* Form to add and edit a new project */
#addProjectForm {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 5px;
}

.buttons button {
  font-size: 18px;
  font-family: 'Poppins';
  padding: 4px 6px;
  min-width: 80px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#addProjectBtn,
#editProjectBtn,
#addTaskBtn,
#editTaskBtn {
  background-color: var(--btn-back);
  color: white;
  border: none;
}

#cancelProjectBtn,
#cancelEditProjectBtn,
#cancelTaskBtn,
#cancelEditTaskBtn {
  background-color: var(--btn-back2);
  color: white;
  border: none;
}

#addProjectForm input,
#editProjectForm input {
  border: 2px solid var(--main);
  border-radius: 5px;
  padding: 2px 6px;
  width: 75%;
}

#folderImg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  margin-left: 5px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.formholder,
.formholderEdit {
  border-radius: 5px;
  padding: 4px 6px;
}

/* Hidden Elements */
.hidden {
  display: none !important;
}

/* Edit and Delete Projects element */
.projectMore button,
.taskMore button {
  border: none;
  background-color: var(--main);
  border-radius: 5px;
  color: white;
}

.projectMore button:hover,
.taskMore button:hover {
  border: none;
  background-color: #394867;
}

.projectMore,
.taskMore {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 70px;
  background-color: var(--main);
  padding: 4px 6px;
  border: 1px solid var(--back-border);
  border-radius: 5px;
  position: absolute;
}

/* Content page */

.container {
  margin: 0 60px;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  /* border: 2px solid var(--btn-back); */
  /* border-radius: 5px; */
  margin-bottom: 30px;
  border-bottom: 1px solid var(--back-border);
}

.projectNameDisplayed {
  font-size: 28px;
  font-weight: 700;
}

#addTask {
  background-color: var(--btn-back);
  border: none;
  color: white;
  padding: 6px 16px;
  border-radius: 5px;
}

/* Tasks stylying */
.tasksContainer {
  margin-right: 100px;
  /* TODO: do it prettier later */
}

.task {
  display: grid;
  grid-template-columns: 20px 1fr 30px 110px 30px;
  gap: 40px;
  align-items: center;
  padding: 8px 10px;
  background-color: #f5f4f4;
  border-radius: 5px;
  margin-top: 10px;
}

.taskNameDisplay {
  font-size: 18px;
}

.taskDescriptionDisplay {
  font-size: 16px;
  color: var(--section);
}

.wrapperName {
  display: flex;
  flex-direction: column;
}

.star:hover,
.imgMore:hover {
  cursor: pointer;
}

.check {
  appearance: none;
  position: relative;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid var(--main);
  border-radius: 2px;
  margin-left: 10px;
}

.check::before {
  content: '✔';
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

.check:checked::before {
  visibility: visible;
}

.check:hover {
  cursor: pointer;
}

/* Form to add a new task */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#addTaskForm {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 250px 150px;
  grid-template-rows: 40px 3fr 1fr;
  gap: 10px;
}

#editTaskForm {
  display: grid;
  grid-template-columns: 5fr 210px;
  grid-template-rows: 40px 40px 1fr;
  gap: 10px;
  padding: 20px 20px;
  padding-bottom: 10px;
  justify-content: center;
  background-color: #f5f4f4;
  margin-top: 10px;
  border-radius: 5px;
}

#taskDescription,
#addTaskForm .buttons,
#taskDescriptionEdit,
#editTaskForm .buttons {
  grid-column: span 2;
}

#taskDescription {
  max-width: 100%;
  max-height: 200px;
}

#addTaskForm input,
#addTaskForm textarea,
#editTaskForm input {
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
  padding: 6px 10px;
}

#addTaskForm input::placeholder,
#addTaskForm textarea::placeholder {
  color: grey;
}

input[type='date'] {
  font-size: 15px;
  color: grey;
}
